/**** Reset Css ****/
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}






/**** Evitamos problemas con las imagenes ****/
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
}

/**** Reseteamos los enlaces para funcionar como cajas... ****/
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/**** ... excepto los que se encuentran en párrafos ****/
p a {
  display: inline;
}

/**** Quitamos los puntos de los <li> ****/
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/**** Desactivamos estilos por defecto de las principales etiquetas de texto ****/
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/**** Evitamos problemas con los pseudoelementos de quotes ****/
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/**** Configuramos el texto que seleccionamos ****/
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/**** Nivelamos problemas de tipografías y colocación de formularios ****/
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/**** Reseteamos las tablas ****/
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/**** Evitamos problemas con los SVG ****/
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}
/**** Configuramos la tipografía para toda la web ****/
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: "Lato", sans-serif;
  color: var(--negro);
  /* opcional */
  /*-webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
}

/**** Css Menu, Logo y Responsive ****/
/**** Desde la linea 170 - 
-->logo__img: logo creado para todas las paginas.
-->Header__nav: engloba toda la seccion del menu y el logo
-->Menu__button__container: crea el menu cuando esta en responsive.
-->Menu__toggle: desactiva el menu cuando esta toggle.
-->Menu__button/after y beefore:le da las caracteristicas al menu responsive,con una posicion absoluta y tambien tiene una transicion para que cambie del menu a la X.
-->#menu__toggle:checked + .menu__button__container .menu__button::before:al hacer checked crea una rotacion en el menu responsive.
-->#menu__toggle:checked + .menu__button__container .menu__button:al hacer checked añade el color negro.
-->#menu__toggle:checked + .menu__button__container .menu__button::after:al volver hacer checked, vuelve la rotacion a su estado original.
-->Menu__nav:le da estilos al menu, lo pone horizontal y cambia el formato de la letra.
-->Menu > li:le da un espacio al menu y cuando esta en responsive oculta todos los hijos directos.
-->Menu__li: le da una opacidad azul.
-->Menu__li.active:cuando la clase esta activa, crea una linea de color azul y quita la opacidad antes aplicada.
-->Menu__button__container:coloca el contenido en responsive.
-->menu:pone el menu en una posicion absoluta, aplicandole una direccion centrada en columna y un z-indez que indica el orden del elemento y descendientes.
-->#menu__toggle ~ .menu li: en responsive cuando se ejecuta el estado toggle, cambia el estado de visibilidad del menu y hace una transicion.
-->#menu__toggle:checked ~ .menu li: cuando esta en responsive y haces checked vuelve a su estado natural, tambien le aplico varias caracteristicas, como color,ancho y separaciones del mismo.
-->Title__banner.home:modificacion del titulo principal en la pagina home al hacer el responsive, de la posicion,tamaño de la letra y un z index para difuminar el titulo cuando se abre el menu.
-->Title__banner.actividades:modificacion del titulo principal en la pagina actividades al hacer el responsive, de la posicion,tamaño de la letra y un z index para difuminar el titulo cuando se abre el menu.
-->Title__banner.recomendaciones:modificacion del titulo principal en la pagina recomendaciones al hacer el responsive, de la posicion,tamaño de la letra y un z index para difuminar el titulo cuando se abre el menu.
-->Title__banner.qs:modificacion del titulo principal en la pagina quien somos al hacer el responsive, de la posicion,tamaño de la letra y un z index para difuminar el titulo cuando se abre el menu.
-->Test__qs:modifica el tamañno de la letra de los parrafos.
-->Container__h2:modifica el tamaño de la letra de los titulos de los parrafos.
****/
.logo__img {
  width: auto;
  padding-left: 13em;
  margin: 1em 0;
}
.header__nav {
  color: #fff;
  height: 3.125rem;
  padding: 1em;
  margin: 1em 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.menu__button__container {
  height: 100%;
  width: 1.875rem;
  cursor: pointer;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
}
#menu__toggle {
  display: none;
}
.menu__button,
.menu__button::before,
.menu__button::after {
  height: .25rem;
  width: 1.875rem;
  display: block;
  background-color: black;
  position: absolute;
  border-radius: .125rem;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__button::before {
  content: "";
  margin-top: -0.5rem;
}

.menu__button::after {
  content: "";
  margin-top: .5rem;
}

#menu__toggle:checked + .menu__button__container .menu__button::before {
  margin-top: 0rem;
  transform: rotate(405deg);
}

#menu__toggle:checked + .menu__button__container .menu__button {
  background: rgba(255, 255, 255, 0);
}
#menu__toggle:checked + .menu__button__container .menu__button::after {
  margin-top: 0rem;
  transform: rotate(-405deg);
}
.menu__nav {
  width: 80%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}
.menu__li {
  opacity: 0.8;
  color: #3366cc;
}
.menu__li.active {
  border-bottom: .125rem solid #3366cc;
  padding-bottom: 0.6em;
  opacity: 1;
}


/****** @media tablet *****/
@media (min-width: 480px) and (max-width: 1024px) {
  .menu__button__container {
    display: flex;
  }
  .menu {
    width: 100%;
    margin-top: 3.125rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #menu__toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu__toggle:checked ~ .menu li {
    height: 2.5em;
    border: .0625rem solid wheat;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    width: 100%;
    color: white;
    background-color:#3366cc ;
    margin: 0;
    padding: 0.5em 0;
    display: flex;
    justify-content: center;
  }

  .title__banner__home {
    font-size: 1.2em;
    top: 15%;
    left: 60%;
    z-index: 0;
  }
  .title__banner__actividades {
    font-size: 1.2em;
    top: 20%;
    left: 60%;
    z-index: 0;
  }
  .title__banner__recomendaciones {
    font-size: 1.2em;
    top: 10%;
    left: 60%;
    z-index: 0;
  }
  .title__banner__qs {
    font-size: 1.2em;
    top: 20%;
    left: 60%;
    z-index: 0;
  }
  .text__qs{
    font-size: 0.2em;
  }
  .container__h2{
    font-size: 0.5em;
  }
}

/********@media mobil ********/
@media (min-width: 280px) and (max-width: 479px) {
  .menu__button__container {
    display: flex;
  }
  .menu {
    width: 100%;
    margin-top: 3.125rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #menu__toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu__toggle:checked ~ .menu li {
    height: 2.5em;
    border: .0625rem solid #333;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    width: 100%;
    color: #3366cc;
    background-color: #222;
    margin: 0;
    padding: 0.5em 0;
    display: flex;
    justify-content: center;
  }

  .title__banner__home {
    font-size: 1em;
    top: 12%;
    left: 60%;
    z-index: 0;
  }
  .title__banner__actividades {
    font-size: 1.2em;
    top: 20%;
    left: 60%;
    z-index: 0;
  }
  .title__banner__recomendaciones {
    font-size: 1.2em;
    top: 10%;
    left: 68%;
    z-index: 0;
  }
  .title__banner__qs {
    font-size: 1.2em;
    top: 11%;
    left: 60%;
    z-index: 0;
  }
  
  .banner__qs__person__img{
    width: 200% !important;
    margin-left: 10% !important;
    overflow: hidden !important;
  }
  .banner__qs__person__img__r{
    width: 200% !important;
    margin-right: 10% !important;
    overflow: hidden !important;
  }
  .banner__qs__person__text{
    padding: .3125rem .9375rem !important;
  }
  .text__qs{
    font-size: 0.9em !important;
  }
  .container__h2{
    font-size: 1.3em !important;
  }
  
}
/****Final del header y Responsive****/
/**** Final del Header ****/

/**** Inicio del Main y Responsive ****/
/**** Desde la linea 423 - 472
-->Title__banner: Titulo principal colocado de forma absoluta encima de la imagen,en tono aul con una pequeña sombra mas clarita y la letra en mayusculas y con mas grosor
-->Main__container:centra el contenido del bloque completo.
-->Row:centra el contenido del bloque de imagenes con un ancho del 80%.
-->Colum:da estilo a cada columna,con separaciones.
-->Colum__img:crea un separacion en vertical, y una transicion progresivamente.
-->Colum__img:hover:cuando esta en hover se hace una transformacion para que la imagen se haga mas grande.
-->Responsive 600px /800px:hacer el responsive, a  800px se pone en dos columnas y en 600% se pone en una columna.
****/
.title__banner__home {
  width: 30%;
  color: #3366cc;
  font-size: 3.5em;
  font-weight: 800;
  text-align: end;
  position: absolute;
  top: 20%;
  left: 60%;
  text-shadow: 1px 3px 12px #96b5f5;
  z-index: 1;
}


.main__container {
  display: flex;
  justify-content: center;
}
.row {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}
.column {
  max-width: 25%;
  padding: 0.5rem;
  margin: 3em 0;
}
.column__img {
  margin-top: 0.625rem;
  transition: all 0.5s ease-in-out;
}

.column__img:hover {
  transform: scale(1.08, 1.08);
  cursor: pointer;
}

@media (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}
@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
/**** Final del Main ****/

/**** Inicio del Footer****/
/**** Desde la linea  485 - 517
-->Footer__wrapper: color de fondo y un padding para darle altura.
-->Footer__wrapper a:color principal de las redes sociales.
-->Container__footer: colocacion del contenedor centrado.
-->Footer__wrapper #social-fb:hover:cuando esta en hover cambia a color azul oscuro.
-->footer__wrapper #social-tw:hover:cuando esta en hover cambia a color azul.
-->footer__wrapper #social-gp:hover:cuando esta en hover se pone de color rojo anaranjado.
-->footer__wrapper #social-em:hover:cuando hace hover cambia a amarillo.
-->#footer__copy: id con cambio de estilo de letra,tamaño y color, centrado al centro y un ,margin.
****/
.footer__wrapper {
  background-color: #3366cc;
  padding: 2.5rem 0;
}
.footer__wrapper  {
  color: white;
}
.footer__rrss {
  color:white;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap:0.8rem;
}
.footer__facebook{
  background-color: white;
  transition: all 0.5s ease-in-out;

}
.footer__facebook:hover {
  background-color:#3B5998;
  transform: scale(1.25, 1.25);
  cursor:pointer;
}
.footer__twitter{
  background-color: white;
  color: white;
  transition: all 0.5s ease-in-out;

}
.footer__twitter:hover {
  background-color: #4099ff;
  transform: scale(1.25, 1.25);
  cursor:pointer;
}
.footer__youtube{
  background-color: white;
  transition: all 0.5s ease-in-out;
}
.footer__youtube:hover {
  background-color: #d34836;
  transform: scale(1.25, 1.25);
  cursor:pointer;
}
.footer__instagram{
  background-color: white;
  transition: all 0.5s ease-in-out;
}
.footer__instagram:hover {
  background-color: #8134AF;
  transform: scale(1.25, 1.25);
  cursor:pointer;
}
.footer__copy {
  color: white;
  margin-top: 1em;
  font-size: 1rem;
  font-style: italic;
  text-align: center;
}
/****Final del footer****/


/****************Css quien somos*************/
/****Inicio quien somos****/
/**** Desde la linea  533-611
-->Banner__qs:separacion de la img con el texto principal a traves de un margin.
-->Main__container__qs: texto principal centrado con un 80% y un margin.
-->Text__qs: cambio de la fuente de la letra y un paddin
-->Banner__qs__person:  separacion con el texto de arriba atraves de un margin,colocacion atraves de un display-flex y un fondo degrdado azul.
-->Banner__qs__person__r: separacion con el footer atraves de un margin,colocacion atraves de un display flex y un fondo degrado en tonos azules.
-->Banner__qs__person__img :imagen con un ancho del 40%,un margen a la izquierda del 15% y un overflow- hidden para que no se desborde.
-->Banner__qs__person__img__r: mismos cambios que la imagen anterior pero a la inversa.
-->Banner__qs__person__title:cambio en el tamaño de la letra y el grosor.
-->banner__qs__person__text:colocacion del texto con un paddin.
****/
.banner__qs {
  margin-bottom: 3em;
}
.title__banner__qs{
  width: 30%;
  color: #3366cc;
  font-size: 3.5em;
  font-weight: 800;
  text-align: end;
  position: absolute;
  top: 20%;
  left: 60%;
  text-shadow: 1px 3px 12px #96b5f5;
  z-index: 1;

}
.main__container__qs {
  width: 80%;
  margin: auto;
}
.text__qs {
  font-size: 1.5em;
  padding: 0.3em 0;
}
.banner__qs__person {
  margin-top: 3em;
  display: flex;
  flex-direction: row;
  background: rgb(51, 102, 204);
  background: -moz-linear-gradient(
    117deg,
    rgba(51, 102, 204, 1) 11%,
    rgba(110, 251, 251, 0.7763480392156863) 81%,
    rgba(217, 229, 254, 1) 100%
  );
  background: -webkit-linear-gradient(
    117deg,
    rgba(51, 102, 204, 1) 11%,
    rgba(110, 251, 251, 0.7763480392156863) 81%,
    rgba(217, 229, 254, 1) 100%
  );
  background: linear-gradient(
    117deg,
    rgba(51, 102, 204, 1) 11%,
    rgba(110, 251, 251, 0.7763480392156863) 81%,
    rgba(217, 229, 254, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3366cc",endColorstr="#d9e5fe",GradientType=1);
}
.banner__qs__person__r {
  display: flex;
  flex-direction: row;
  margin-bottom: 3em;
  background: rgb(51, 102, 204);
  background: -moz-linear-gradient(
    333deg,
    rgba(51, 102, 204, 1) 11%,
    rgba(110, 251, 251, 0.7763480392156863) 81%,
    rgba(217, 229, 254, 1) 100%
  );
  background: -webkit-linear-gradient(
    333deg,
    rgba(51, 102, 204, 1) 11%,
    rgba(110, 251, 251, 0.7763480392156863) 81%,
    rgba(217, 229, 254, 1) 100%
  );
  background: linear-gradient(
    333deg,
    rgba(51, 102, 204, 1) 11%,
    rgba(110, 251, 251, 0.7763480392156863) 81%,
    rgba(217, 229, 254, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3366cc",endColorstr="#d9e5fe",GradientType=1);
}

.banner__qs__person__img {
  overflow: hidden;
  margin-left: 15%;
  width: 40%;
}
.banner__qs__person__img__r {
  overflow: hidden;
  margin-right: 15%;
  width: 50%;
}
.banner__qs__person__title{
  font-size: 2.2em;
  font-weight: 800 ;
}
.banner__qs__person__text {
  padding: 3.125rem 9.375rem;
}
/****Final de quien somos****/


/****************Css destinos******************/
/**** Desde la linea 615-724
-->Main__container__destinos: contenedor principal centrado con un ancho del 80& un margin auto y un display flex .
-->Container__content: cambio del tamaño de letra y separacion entre los parrafos.
-->Slider__destinos: ancho minimo para el tañamo del slider,con un borde redondeado, centrado con un margin , un overflow para que no desborde y una posicion relativa para los botones.
-->Slider__container: posicion relativa al contenedor.
-->Slider__img: aplico una posicion estatica.
-->Slider__img.isactive: opacidad para que se vean las imagenes.
-->Slider__img:nth-child: aplico una posicion estatica a todos los hijos directos.
-->Slider__button: ancho y alto de los botones en color azul, en forma redondeada al 50%,posicion absoluta para ponerlo superpuesta en la imagen,calculo la posicion y meto un transform y un transition para cuando clickas.
-->Slider__button:hover: cuando hace hover cambia la escala de la tranform.
-->Slider__button:active: cuando esta active cambia la escala de la transform.
-->Slider__button.prev: posicion boton izquierdo.
-->Slider__button.next:posicion boton derecho.
-->Slider__ul: colocacion centrada de los puntos con posicion absulata superpuesta a la img, con una separacion entre los mismos y un flex.
-->Slider__punto:tamaño de los puntos, con forma redona, borde negro con un transform con una scala de 1 y un transition.
-->Slider__punto:hover: cuando hace hover cambia la tranform y cambia el color de los puntos de azul a blanco.
-->Slider__punto.isActive: cuando esta isactive cambia al color azul.
****/
.main__container__destinos {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container__content{
  padding-bottom: 1.25rem;
}
.slider__destinos {
  max-width: 25rem;
  margin: auto;
  margin-bottom: 3em;
  border-radius: 2rem;
  overflow: hidden;
  position: relative;
}
.slider__container {
  position: relative;
}
.slider__img {
  background-color: antiquewhite;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.slider__img.isActive {
  opacity: 1;
}
.slider__img:nth-child(1) {
  position: static;
}
.slider__button {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #3366cc;
  border-radius: 50%;
  position: absolute;
  padding: 0.8rem;
  top: calc(50% - 1.5rem);
  cursor: pointer;
  transform: scale(1);
  transition: all 0.5s ease;
}
.slider__button:hover {
  transform: scale(0.9);
}
.slider__button:active {
  transform: scale(1.2);
}
.slider__button.prev {
  left: 3%;
}
.slider__button.next {
  right: 3%;
}
.slider__ul {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
}
.slider__punto {
  width: 0.5rem;
  height: 0.5rem;

  border-radius: 50%;
  border: .125rem solid black;
  transform: scale(1);
  transition: all 0.5s ease;

  cursor: pointer;
}
.slider__punto:hover {
  transform: scale(0.9);
  background-color: lightgrey;
}
.slider__punto:active {
  transform: scale(1.1);
}
.slider__punto.isActive {
  background-color: #3366cc;
}
/****Final de Destinos****/


/******* Css Actividades*******
/**** Desde la linea 734 - 755
-->Container__h2:cambia el titulo a mayusculas, el color, el tamaño y el ancho del mismo y le aplica un margin de separacion.
-->Main__container__actividades: colocacion del contenedor atraves de un flex, un margin y un ancho del 80%.
-->Container__content:tamano d ela letra y separacion entre parrafos.
-->Container__img:le aplica un ancho a la imagen, un margen de separacion por abajo y lo centra.
****/
.container__h2 {
  color: #3366cc;
  font-size: 3.5rem;
  font-weight: 800;
  text-transform: uppercase;
  margin: 1rem 0;
}
.title__banner__actividades{
  width: 30%;
  color: #3366cc;
  font-size: 3.5em;
  font-weight: 800;
  text-align: end;
  position: absolute;
  top: 20%;
  left: 60%;
  text-shadow: 1px 3px 12px #96b5f5;
  z-index: 1;

}
.main__container__actividades {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container__content {
  font-size: 1.5rem;
  line-height: 1.5;
}
.container__img {
  width: 50%;
  justify-content: center;
  margin-bottom: 3em;
}
/****Final de actividades****/

/**** Css recomendaciones ****/
/**** Desde la linea 764 - 782
-->Main__container__recomendaciones: contenedor con un ancho del 80% y colocacion a traves de un margin y un display al centro.
-->Title__banner__recomendaciones:titulo puesto en absolute para sobreponerlo en la img,cambio de la letra el ancho ,la posicion y el color.
****/
.main__container__recomendaciones {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.title__banner__recomendaciones {
  width: 30%;
  color: #3366cc;
  font-size: 3.5em;
  font-weight: 800;
  text-align: end;
  position: absolute;
  top: 20%;
  left: 60%;
  text-shadow: .0625rem .1875rem .75rem #96b5f5;
}
/**** Css Actividades ****/


/**********css pagina de contacto********/
/**** Desde la linea 797 -843
-->Iframe:le mete el ancho, el alto y el margin 
-->Main__container__form: centra el container con un flex
--Container__form: aplica un margin 
-->Form:aplica estilos a la caja del formulario 
-->Form__p:aplica el estilo dentro de la caja del formulario
-->Form__p input:crea los estilos del imput
-->Form__p textareacrea los estilos del textarea
-->form__button:crea los estilos del boton de enviar
-->
****/
.main__maps {
  width: 80%;
  height: 25rem;
  margin-top: 2em;
}
.main__container__form{
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
}
.container__form{
  margin: .3125rem;
}
.form {
  width: 17.1875rem;
  height: 20rem;
  margin: 2em;
  border: solid #3366cc .1375rem;
  font-size: 1.2em;
  border-radius: .9375rem;
}
.form__label {
  width: 100%;
  border-bottom: 0.0125rem solid #3366cc;
  padding: 1rem 0 0 1rem;
  margin: 1em 0;
}
.form__label input {
  border: solid #3366cc 0.0125rem;
  border-radius: 1rem;
  margin: 0.6rem 1.9rem;
}
.form__label textarea {
  border: solid #3366cc 0.2px;
  border-radius: 1rem;
  margin: 0.6rem 1.9rem;
}
.form__button {
  background-color: #d9e5fe;

  border: 0.025rem solid grey;
  margin: 0.4rem 1.7rem;
  padding: 0.3rem 1.5rem;
  border-radius: 1.8rem;
}
/**** Final de Css Pagina de contactos****/
